@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700;9..40,800&display=swap");
* {
  margin: 0;
  padding: 0;
}

:root {
  --theme: #0063db;
  --whatsapp: #25d366;
}

body {
  overflow-x: hidden !important;
  overflow-y: auto;
  width: 100vw;
}

body::-webkit-scrollbar {
  width: 1.5vw;
  max-width: 12px;
  background-color: lightgray;
}

body::-webkit-scrollbar-thumb {
  border: 0.5px groove black;
  border-radius: 500px;
  background-color: gray;
}

#preloader {
  display: flex;
  height: 100vh;
  background: white;
  align-items: center;
  justify-content: center;
  z-index: 5000;
  position: fixed;
  overflow-y: hidden;
}
#preloader .outer_img {
  width: 120vw;
  max-width: 750px;
  position: absolute;
  animation: lineAnim 10s linear infinite;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#preloader .inner_img {
  width: 35vw;
  max-width: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@keyframes lineAnim {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

#brand #header_logo {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
#brand #header_logo .lineAnim_header {
  animation: lineAnim_header 1s cubic-bezier(0.2, -0.04, 0.51, 1.29);
}
#brand .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#brand .heading h1 {
  margin-bottom: 0.3rem;
  font-family: "DM Sans", sans-serif;
  word-spacing: 3px;
}
#brand .heading h1 span:nth-of-type(1) {
  color: red;
}
#brand .heading h1 span:nth-of-type(2) {
  color: blue;
}
#brand .heading .tagline {
  letter-spacing: 1.8px;
  word-spacing: 2.5px;
  font-size: smaller;
  font-weight: 500;
}
#brand .outer_img {
  width: 120vmin;
  max-width: 450px;
  position: absolute;
}
#brand .inner_img {
  width: 35vmin;
  max-width: 150px;
}
@keyframes lineAnim_header {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.info_paragraph {
  width: 90%;
  max-width: 700px;
}

main {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
main .product_container .company_heading {
  display: flex;
  align-items: flex-end;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
}
main .product_container .company_heading div > img {
  height: 2rem;
}
main .product_container .company_heading h5 {
  margin-bottom: 0;
}
main .product_container .company_heading a {
  display: flex;
  gap: 5px;
  align-items: center;
}
main .product_container .company_heading a:hover {
  text-decoration: underline !important;
}
main .product_container .company_heading a img {
  height: 0.7rem;
  margin-top: 3px;
}
main .product_container .product_card_wrapper {
  overflow-x: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
}
main .product_container .product_card_wrapper .product_card {
  min-width: 60vmin;
  max-width: 300px;
  padding: 20px 19px;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  box-shadow: 0px 1.76786px 14.14286px -1.76786px rgba(0, 0, 0, 0.25);
  gap: 25px;
}
main .product_container .product_card_wrapper .product_card .whatsapp_order {
  border: 1px solid var(--whatsapp);
  border-radius: 500px;
  background-color: white;
  color: var(--whatsapp);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
  gap: 8px;
  padding: 5px 20px;
  transition: all 0.5s;
}
main .product_container .product_card_wrapper .product_card .whatsapp_order:hover {
  padding: 5px 30px;
}
main .product_container .product_card_wrapper .product_card .whatsapp_order img {
  height: 1rem;
}
main .product_container .product_card_wrapper .last_card {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 170px;
  box-shadow: none;
  margin-left: 0px !important;
  aspect-ratio: 1/1;
}
main .product_container .product_card_wrapper .last_card > div {
  width: 50px;
  display: flex;
  aspect-ratio: 1/1;
  border-radius: 500px;
  align-items: center;
  justify-content: center;
  background: lightgray;
}
main .product_container .product_card_wrapper .last_card > div img {
  height: 1.2rem;
}
main .product_container .product_card_wrapper::-webkit-scrollbar {
  display: none;
}
main .product_container .product_card_wrapper::-webkit-scrollbar-thumb {
  display: none;
}

#whatsapp_chat {
  text-decoration: none;
  height: 43px;
  aspect-ratio: 1/1;
  position: fixed;
  bottom: 2%;
  right: 2%;
  border-radius: 100%;
  background: var(--whatsapp);
  box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.5);
}
#whatsapp_chat img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

footer {
  background-color: var(--theme);
  color: white;
  width: 100vw;
  height: 50px;
}/*# sourceMappingURL=style.css.map */